body{
    background-color: #E7CEE3 !important;
    color: white;
}
button {
    background-color: #E4B4C2 !important; 
    align-items: center;
    height: 50px;
    width: 100px; 
}
h1 { 
    text-align: center;
    font-family: 'Special Elite', system-ui;
}
.header { 
    margin: auto;
    background-color: #FFB8D1; 
    outline: 5px solid white;
}
.date{ 
    text-align: center;
    font-size: 35px; 
    font-family: 'Special Elite', system-ui;
}
.response-text{ 
    text-align: center;
    font-family: 'Comfortaa', sans-serif !important;
}
img{ 
    height: 95%;
    width: 95%; 
    align-items: center;
}